In [1]:
# (1)T：行和列转置
# (2)axes：返回一个仅以行轴标签和列轴标签为成员的列表
# (3)dtypes：返回每列数据的数据类型
# (4)empty：DataFrame中没有数据或者任意坐标轴长度为0,则返回True
# (5)columns：返回DataFrame所有列标签
# (6)shape：返回一个元组，获取行数和列数，表示DataFrame维度
# (7)size：DataFrame中的元素数量
# (8)values：使用numpy数组表示DataFrame中的元素值
# (9)head()：返回前n行数据
# (10)tail()：返回后n行数据
# (11)rename()：rename(columns=字典)，修改标签名（列名）
# (12)info()：可以显示信息，例如行数/列数，总内存使用量，每列的数据类型......
# (13)sort_index()：默认根据行标签对所有行进行排序，或根据列标签对所有列进行排序......
# (14)sort_values()：既可以根据列数据，也可根据行数据排序
import pandas as pd
import numpy as np

In [2]:
data={
    'Name':['关羽','刘备','张飞','曹操'],
    'Age':[28,34,29,42],
    'Salary':[5000,8000,4500,10000]
}
df=pd.DataFrame(data)
print(df)

  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500
3   曹操   42   10000

In [3]:
# (1)T：行和列转置
new_data=df.T
print(df)
print(new_data)     # 原数据无变化

  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500
3   曹操   42   10000
           0     1     2      3
Name      关羽    刘备    张飞     曹操
Age       28    34    29     42
Salary  5000  8000  4500  10000

In [4]:
# (2)axes：返回一个仅以行轴标签和列轴标签为成员的列表
print(df.axes)
print("=======只返回行标签=======")
print(df.index)
print("=======只返回列标签=======")
print(df.columns)

[RangeIndex(start=0, stop=4, step=1), Index(['Name', 'Age', 'Salary'], dtype='object')]
=======只返回行标签=======
RangeIndex(start=0, stop=4, step=1)
=======只返回列标签=======
Index(['Name', 'Age', 'Salary'], dtype='object')

In [5]:
# (3)dtypes：返回每列数据的数据类型
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

In [6]:
# (4)empty：DataFrame中没有数据或者任意坐标轴长度为0,则返回True
print(df.empty)
# 创建一个空的DataFrame
empty_df=pd.DataFrame()
print(empty_df.empty)

False
True

In [7]:
# (5)columns：返回DataFrame所有列标签
print(df.columns)
# 可以通过len(df.columns)获取DataFrame列个数
print(len(df.columns))
# 可以通过df.columns.size获取DataFrame列个数
print(df.columns.size)

Index(['Name', 'Age', 'Salary'], dtype='object')
3
3

In [8]:
# (6)shape：返回一个元组，获取行数和列数，表示DataFrame维度
print(df.shape)     # df为4行3列的DataFrame数据帧对象
# 也可采用以下形式
row_num,col_num=df.shape
print(row_num,col_num)

(4, 3)
4 3

In [9]:
# (8)values：使用numpy数组表示DataFrame中的元素值
print(df.values)

[['关羽' 28 5000]
 ['刘备' 34 8000]
 ['张飞' 29 4500]
 ['曹操' 42 10000]]

In [10]:
# (9)head()：返回前n行数据
print(df.head(3))

  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500

In [11]:
# (10)tail()：返回后n行数据
print(df.tail(2))

  Name  Age  Salary
2   张飞   29    4500
3   曹操   42   10000

In [12]:
# (11)rename()：rename(columns=字典)，修改标签名
print(df)
# 修改变量df的行标签
df1=df.rename(index={1:'row2',2:'row3'})
print(df)
print(df1)
# 修改变量df的列标签
df2=df1.rename(columns={'Name':'name','Age':'age'})
print(df2)
# inplace=True，在原df变量的基础上修改
df.rename(index={1:'row2',2:'row3'},columns={'Name':'name','Age':'age'},inplace=True)
print(df)

  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500
3   曹操   42   10000
  Name  Age  Salary
0   关羽   28    5000
1   刘备   34    8000
2   张飞   29    4500
3   曹操   42   10000
     Name  Age  Salary
0      关羽   28    5000
row2   刘备   34    8000
row3   张飞   29    4500
3      曹操   42   10000
     name  age  Salary
0      关羽   28    5000
row2   刘备   34    8000
row3   张飞   29    4500
3      曹操   42   10000
     name  age  Salary
0      关羽   28    5000
row2   刘备   34    8000
row3   张飞   29    4500
3      曹操   42   10000

In [14]:
# (12)info()：可以显示信息，例如行数/列数，总内存使用量，每列的数据类型......
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes
None

In [20]:
# (13)sort_index()：默认根据行标签对所有行进行排序，或根据列标签对所有列进行排序......
df=pd.DataFrame({
    'b':[1,2,2,3],
    'a':[4,3,2,1],
    'c':[1,3,8,2]
},index=[2,0,1,3])
print(df)
# 默认按行标签升序排序，或df.sort_index(axis=0,ascending=True)
print(df.sort_index())
# 按列标签升序排序
print(df.sort_index(axis=1))
# inplace=True会在原DataFrame基础上改变
df.sort_index(axis=1,inplace=True)
print(df)

   b  a  c
2  1  4  1
0  2  3  3
1  2  2  8
3  3  1  2
   b  a  c
0  2  3  3
1  2  2  8
2  1  4  1
3  3  1  2
   a  b  c
2  4  1  1
0  3  2  3
1  2  2  8
3  1  3  2
   a  b  c
2  4  1  1
0  3  2  3
1  2  2  8
3  1  3  2

In [ ]:
# (14)sort_values()：既可以根据列数据，也可根据行数据排序
df=pd.DataFrame({
    'b':[1,2,3,2],
    'a':[4,3,2,1],
    'c':[1,3,8,2]
},index=[2,0,1,3])
# 按'b'列升序排序
print(df.sort_values(by='b'))
# 先按'b'列降序，行'b'值相同再按'a'列升序
# 等同于df.sort_values(by=['b','a'],axis=0,ascending=[False,True])
print(df.sort_values(by=['b','a'],ascending=[False,True]))
# 按行'3'升序排列
print(df.sort_values(axis=1,by=3))
# 按行'3'升序排列，行'3'值相同再按行'0'降序排列
print(df.sort_values(axis=1,by=[3,0],ascending=[True,False]))

   b  a  c
2  1  4  1
0  2  3  3
3  2  1  2
1  3  2  8
   b  a  c
1  3  2  8
3  2  1  2
0  2  3  3
2  1  4  1
   a  b  c
2  4  1  1
0  3  2  3
1  2  3  8
3  1  2  2
   a  c  b
2  4  1  1
0  3  3  2
1  2  8  3
3  1  2  2